.topbar {
    background-color: rgb(212, 212, 212);
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
    align-items: center;
    height: 80px;
    z-index: 1;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    color: rgb(71, 71, 71);
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
    margin-bottom: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 160px;
    height: 130px;
}

.logo-container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
}

.login_id {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
}

.login_id h3 {
    width: 120px; /* h3 요소의 너비를 조절하세요. */
    margin-right: 10px; /* h3 요소와 input 요소 사이의 간격을 설정합니다. */
}

.login_id input {
    width: 400px;
    height: 60px;
    border-radius: 13px;
    padding: 0px 20px;
    border: 1px solid lightgray;
    outline: none;
}
.login_img {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.login_img h3 {
    width: 150px; /* h3 요소의 너비를 조절하세요. */
    margin-right: 3px; /* h3 요소와 input 요소 사이의 간격을 설정합니다. */
}
.login_img input {
    width: 270px;
    height: 150px;
    border-radius: 13px;
    padding: px 20px;
    border: 1px solid lightgray;
    outline: none;
}

.login_img button {
    margin-left: 30px; /* 버튼과 input 요소 사이의 간격을 설정합니다. */
    margin-top: 100px;
    height: 40px; /* 버튼의 높이를 조절하세요. */
    border-radius: 13px;
    padding: 10px 20px;
    border: 1px solid lightgray;
    background-color: rgb(179, 74, 32);
    color: white;
    font-size: 0.8em;
    letter-spacing: 5px;
    outline: none;
}

.submit-login button {
    width: 100%;
    /*max-width: 645px;*/
    height: 60px;
    border: 0;
    outline: none;
    border-radius: 7px;
    background-color: rgb(68, 60, 60);
    color: white;
    font-size: 0.9em;
    letter-spacing: 2px;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 50px;
}

.caption {
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
}

.submit-login button{
    font-weight: bold;
}

.error {
    color: red;
    font-size: 9pt;
    text-align: center;
}

.container {
    display: flex;
}

.leftnavibar {
    background-color: #d8c6b5a8;
    width: 300px;
    height: 200vh;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

form {
    margin-left: 500px;

    /* 네비게이션과 폼 사이에 여백을 조절하려면 필요한 만큼 여백을 조절합니다. */
}

.li-title {
    font-size: 50px;
    /* 원하는 크기로 설정하세요 */
    font-weight: bold;
    /* 원하는 굵기로 설정하세요 */
    margin: 30px;
    margin-top: 50px;
    text-align: center;
    list-style-type: none;
}

.nav-item {
    position: relative;
    /* 포지션을 상대적으로 설정 */
    margin-bottom: 100px;
}

.nav-item::after {
    content: '';
    /* 가상 요소를 생성 */
    position: absolute;
    /* 포지션을 절대적으로 설정하여 부모 요소에 대한 위치 설정 */
    bottom: -40px;
    /* 아래쪽에 배치 */
    left: 0;
    /* 왼쪽에 배치 */
    width: 100%;
    /* 너비를 100%로 설정하여 아래쪽 가로선을 만듭니다. */
    height: 3px;
    /* 선의 높이를 조절하세요 */
    background-color: #0a0909;
    /* 선의 색상을 설정하세요 */
}

li a {
    display: block;
    color: #000000;
    padding: 70px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;

}

li a:hover:not(.current) {
    background-color: #8b372294;
    color: white;
}

li a.current {
    background-color: #8b372294;
    color: white;
}
