body {
    margin: 0;
    padding: 0;
}

.back1 {
    width: 100%;
    height: 0.1vh;
    background-image: url('/media/community1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back1::before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 50%;
    background-image: inherit;
    background-size: cover;
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: center;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    margin-top: 350px;
}

.text-overlay h1 {
    font-size: 7rem;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    margin-right: 60px;
}

.back-container {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.h1-container {
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
}

.top-containter {
    border: 1px solid rgba(128, 128, 128, 0.404);
    width: 1550px;
    margin: 0 auto;
    display: flex;
    /* Flex 컨테이너로 설정 */
    justify-content: space-between;
    /* 내용을 좌우로 분산 배치 */
    margin-bottom: 70px;

}

.top-h5 {
    margin-top: 60px;
    margin-right: 20px;
    font-size: larger;
    display: inline;
    margin-bottom: 10px;
}

div h2 {
    margin-left: 30px;
    font-size: 25pt;

}

.top-text {
    color: gray;
    margin-left: 3px;
}

.text-container {
    width: 1550px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.next-page {
    margin-left: 10px;
    margin-bottom: 70px;
    text-align: center;
    
}

.bt {
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 100px;
    font-size: 15px;
    text-decoration: none;
    border: 1px solid gray;
    color: gray;
    background-color: rgb(255, 255, 255);
    margin: 10px;
}