ㄴㅁumber }}">{{ page_number }}</a>
                    {% endif %}
                {% elif action == 'search' %}
                    {% if page_number == postList.number %}
                        <a class="num{% if page_number == postList.number %} on{% endif %}" href="?search_kw={{ search_kw }}&search_type={{ search_type }}&page={{ page_number }}">{{ page_number }}</a>
                    {% else %}ㅊㅍㅌㅌ
                {% endif %}ㅁㄴㅇㄹ
            <a class="bt" href="?page={{ postList.paginator.num_pages }}">마지막 페이지</a>
        {% elif action == 'search' %}
            <a class="bt" href="?search_kw={{ search_kw }}&search_type={{ search_type }}&page={{ postList.paginator.num_pages }}">마지막 페이지</a>
        {% endif %}ㅊㅍㅌㅊㅊ
    </div>ㅍㅌㅍㅍ
    <a href="/community/board/add/" class="write-button" style="margin-left: 1370px">글쓰기</a>
</div>ㅁㄴㅇㄹㅋㅌㅍㅋㅌㅌ