{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/post_add.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // DOMContentLoaded -> 완전히 페이지가 로드되면 js를 실행하는 이벤트리스너
            var simplemde = new SimpleMDE({ // 마크다운 에디터 초기화 (MDE 객체 생성하여 변수에 저장)
            element: document.getElementById("id_content"), // 마크다운 에디터 적용될 id HTML 요소 지정
            promptURLs: true,  // 이미지나 링크 삽입할때 URL 입력받는 창 활성화
            uploadImage: true,  // simpleMDE 내에서 이미지 업로드 기능 활성화 =
            imageUploadEndpoint: '/upload_image/',  // 이미지 업로드시, 장고의 upload_image URL로 이미지 전송하여 views 로직 처리
            imageUploadFunction: function(file, onSuccess, onError) { // 이미지 선택시 함수 호출
                var formData = new FormData(); // 폼데이터 객체 생성(서버로 전송할수 있게)
                formData.append('image', file); // file을 image라는 key에 추가
        
                fetch('/upload_image/', { // fetch: 웹 API 호출(/upload_image/에 이미지 폼데이터 POST로 전송 )
                    method: 'POST',
                    body: formData
                }).then(response => response.json()).then(data => { // fetch 함수 결과를 JSON 형식으로 변환후 데이터 처리
                    if (data.status === 'success') {
                        onSuccess(data.url);
                    } else {
                        onError("업로드에 실패했습니다.");
                    }
                });
            }
        });
    });
    </script>
    <style>
        .simplemde-editor, .CodeMirror {
            font-size: 18px; /* 원하는 폰트 크기로 조정하세요. */
        }
        blockquote {
            border-left: 4px solid #ccc;
            padding-left: 16px;
            margin-left:0;
            color: #666;
        }
    </style>
{% endblock %}


{% block content %}
{% if messages %}
<div class="alert alert-danger my-3" role="alert">
    {% for message in messages %}
    <strong>{{ message.tags }}</strong>
    <ul>
        <li>{{ message.message }}</li>
    </ul>
    {% endfor %}
{% endif %}
<div class="back-container">
    <div class="back1">
        <div class="text-overlay">
            <h1>Community</h1>
        </div>
    </div>
</div>




<div class="board_wrap">
    <!-- 게시글 세글자 -->
    <div class="board_title">
        <strong>게시글</strong>
    </div>
    <!-- 전체를 form으로 감쌈 -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- 글 작성부분 전체 -->
        <div class="board_write_wrap">
            <!-- 글 작성 -->
            <div class="board_write">
                <!-- 제목란 -->
                <div class="title">
                    <dl>
                        <dt>제목</dt>
                        <dd><input type="text" name="title" placeholder="제목 입력" value="{% if action == "modify" %}{{ post.title }}{% endif %}">
                        </dd>
                    </dl>
                </div>
                <!-- 이름과 파일란 -->
                <div class="info">
                    <dl>
                        <dt>닉네임</dt>
                        <dd>{{ writer.nickname }} ({{ writer.username }})</dd>
                    </dl>
                    {% comment %} <dl>
                        <div class="filebox">
                            <input class="upload-name" value="첨부파일" placeholder="첨부파일" readonly>
                            <label for="file">파일찾기</label>
                            <input type="file" id="file">
                        </div>
                        <script src="free-write.js"></script>
                        </script>
                    </dl> {% endcomment %}
                </div>
                <!-- 내용란 -->
                <div class="cont">
                    <textarea name="content" id="id_content" placeholder="내용 입력" cols="50" rows="50">{{ post.content }}</textarea>
                </div>
            </div>
            <!-- 글 등록 -->
            <div class="bt_wrap">
                <button type="submit" class="on">저장</button>
                <a href="/community/board/{{ post.id }}">취소</a>
            </div>

        </div>
    </form>
</div>
{% endblock %}