{% extends 'base_topbar.html '%}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/share.css' %}">
{% endblock %}
{% block content %}
<div class="back-container">
    <div class="back1">
        <div class="text-overlay">
            <div>
                <h1>Resources</h1>
            </div>
        </div>
    </div>
</div>

<div class='h1-container'>
    <h1 style="font-size: 3rem;">보안 관련 자료, 리소스 제공 섹션</h1>
</div>


<!--여기부터 touch-->


<div class="article-first">
    <!--<strong><h6 class="c1">♠      관련 오프라인 세미나 및 행사</h6></strong>-->
</div>

<div class="allarticle1">

    <div class="article1">
        <div class="ph1">
            <a href="resource_detail.html"><img id='img1' src="secusecu.jpg"></a>
        </div>
        <div class="wr1">
            <strong>
                <a href="resource_detail.html">
                    <h7>『사이버보안 진단의 날』시행</h7>
                </a>
            </strong>
        </div>
    </div>

    <div class="article2">
        <div class="ph2">
            <a href="resource_detail.html"><img id='img2' src="ph1-2.jpg"></a>
        </div>
        <div class="wr2">
            <strong>
                <a href="resource_detail.html">
                    <h7>보안 경진 대회 개최</h7>
                </a>
            </strong>
        </div>
    </div>

    <div class="article3">
        <div class="ph3">
            <a href="resource_detail.html"><img id='img1' src="ph1-3.jpg"></a>
        </div>
        <div class="wr3">
            <strong>
                <a href="resource_detail.html">
                    <h7>한국 보안 협회장 최태용 교수 인터뷰</h7>
                </a>
            </strong>
        </div>
    </div>

</div>

<div class="article-second">
    <!--<strong><h6 class="c1">♠      관련 논문 모음</h6></strong>-->
</div>

<div class="allarticle1">

    <div class="article1">
        <div class="ph1">
            <a href="resource_detail.html"><img id='img1' src="ph2-1.jpg"></a>
        </div>
        <div class="wr1">
            <strong>
                <a href="resource_detail.html">
                    <h7>SECULAB 보안프로그램 출시 안내</h7>
                </a>
            </strong>
        </div>
    </div>

    <div class="article2">
        <div class="ph2">
            <a href="resource_detail.html"><img id='img2' src="ph2-2.png"></a>
        </div>
        <div class="wr2">
            <strong>
                <a href="resource_detail.html">
                    <h7>STEALIEN 보안 페어링 출시 안내</h7>
                </a>
            </strong>
        </div>
    </div>

    <div class="article3">
        <div class="ph3">
            <a href="resource_detail.html"><img id='img1' src="ph2-3.jpg"></a>
        </div>
        <div class="wr3">
            <strong>
                <a href="resource_detail.html">
                    <h7>화이트햇투게더 참가자 모집</h7>
                </a>
            </strong>
        </div>
    </div>

</div>

<div class="article-third">
    <!--<strong><h6 class="c1">♠      학회 알림</h6></strong>-->
</div>

<div class="allarticle1">

    <div class="article1">
        <div class="ph1">
            <a href="resource_detail.html"><img id='img1' src="ph3-1.jpg"></small></a>
        </div>
        <div class="wr1">
            <strong>
                <a href="resource_detail.html">
                    <h7>사내보안교육 메뉴얼</h7>
                </a>
            </strong>
        </div>
    </div>

    <div class="article2">
        <div class="ph2">
            <a href="resource_detail.html"><img id='img2' src="ph3-2.png"></a>
        </div>
        <div class="wr2">
            <strong>
                <a href="resource_detail.html">
                    <h7>SW 보안교육 기본과정</h7>
                </a>
            </strong>
        </div>
    </div>

    <div class="article3">
        <div class="ph3">
            <a href="resource_detail.html"><img id='img1' src="ph3-3.jpg"></a>
        </div>
        <div class="wr3">
            <strong>
                <a href="resource_detail.html">
                    <h7>대학원생 보안</h7>
                </a>
            </strong>
        </div>
    </div>

</div>


{% endblock %}