{% extends 'base_topbar.html '%}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/share_detail.css' %}">
{% endblock %}
{% block content %}

    <div class="back-container">
        <div class="back1">
            <div class="text-overlay">
                <strong>{{ post.title }}</strong>
            </div>
            
            <div class="t1">{% if post.subinfo %}{{ post.subinfo }}{% endif %}</div>
            <div class="t2">{{ post.createdDate }}</div>
        </div>

    </div>

    <div class="all">
        <div>
            {{ post.content|safe }}

        </div>
    </div>

{% endblock %}
