{% extends 'base_topbar.html '%}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/solution.css' %}">
{% endblock %}
{% block content %}
<div class="back-container">
    <div class="back1">
        <div class="text-overlay">
            <div>
                <h1>Resources</h1>
            </div>
        </div>
    </div>
</div>

<div class='h1-container'>
    <h1 style="font-size: 3rem;">웹 취약점 진단 및 대응을 위한 TOOL을 안내하는 섹션</h1>
</div>

{% for post in postList %}
    <div class="allarticle1">
        <div class="article1">
            <div class="ph1">
                <a href="{{ post.id }}"><img id='img1' src="{{ post.thumbnailImage.url }}"></a>
            </div>
            <div class="wr1">
                <strong>
                    <a href="{{ post.id }}"><h3>{{ post.title }}</h3></a>
                </strong>
                <br>
                <br>
                <p>
                    {% if post.content|length > 500 %}
                        {{ post.content|slice:":500" }}<br><br>...더보기</a>
                    {% else %}
                        {{ post.content }}
                    {% endif %} 
                </p>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<div class="paging">
    <!-- 첫 페이지 -->
    {% if action == 'view' %}
        <a class="bt" href="?page=1">첫 페이지</a>
    {% elif action == 'search' %}
        <a class="bt" href="?search_kw={{ search_kw }}&search_type={{ search_type }}&page=1">첫 페이지</a>
    {% endif %}

    <!-- 이전페이지 -->
    {% if postList.has_previous %}
        {% if action == 'view' %}
            <a class="bt" href="?page={{ postList.previous_page_number }}">이전 페이지</a>
        {% elif action == 'search' %}
            <a class="bt" href="?search_kw={{ search_kw }}&search_type={{ search_type }}&page={{ postList.previous_page_number }}">이전 페이지</a>
        {% endif %}
    {% else %}
        <a class="bt" tabindex="-1" aria-disabled="true" href="#">이전 페이지</a>
    {% endif %}

    <!-- 페이지리스트 -->
    {% for page_number in postList.paginator.page_range %}
        {% if page_number >= postList.number|add:-10 and page_number <= postList.number|add:10 %}
            {% if action == 'view' %}
                {% if page_number == postList.number %}
                    <a class="num{% if page_number == postList.number %} on{% endif %}" href="?page={{ page_number }}">{{ page_number }}</a>
                {% else %}
                    <a class="num" href="?page={{ page_number }}">{{ page_number }}</a>
                {% endif %}
            {% elif action == 'search' %}
                {% if page_number == postList.number %}
                    <a class="num{% if page_number == postList.number %} on{% endif %}" href="?search_kw={{ search_kw }}&search_type={{ search_type }}&page={{ page_number }}">{{ page_number }}</a>
                {% else %}
                    <a class="num" href="?search_kw={{ search_kw }}&search_type={{ search_type }}&page={{ page_number }}">{{ page_number }}</a>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}

    <!-- 다음페이지 -->
    {% if postList.has_next %}
        {% if action == 'view' %}
            <a class="bt" href="?page={{ postList.next_page_number }}">다음 페이지</a>
        {% elif action == 'search' %}
            <a class="bt" href="?search_kw={{ search_kw }}&search_type={{ search_type }}&page={{ postList.next_page_number }}">다음 페이지</a>
        {% endif %}
    {% else %}
        <a class="bt" tabindex="-1" aria-disabled="true" href="#">다음 페이지</a>
    {% endif %}

     <!-- 끝 페이지 -->
    {% if action == 'view' %}
        <a class="bt" href="?page={{ postList.paginator.num_pages }}">마지막 페이지</a>
    {% elif action == 'search' %}
        <a class="bt" href="?search_kw={{ search_kw }}&search_type={{ search_type }}&page={{ postList.paginator.num_pages }}">마지막 페이지</a>
    {% endif %}
</div>


{% endblock %}