{% extends 'base.html' %}

{% block content %}
<a href="/" class="btn"><img src="/media/LOGO.png" style="width:200px; height:150px;"></a>
<h1>프론트엔드 언제왕</h1>

{% if request.user.is_authenticated %}
    <div>
        <img src="{{ user.profile_image.url }}" style="width:100px; height:100px; object-fit: cover;">
        {{ user.nickname }}님 환영합니다. ID: {{ user.username }}
    </div>
    <a href="/users/logout/">로그아웃</a>
{% else %}
    <h1>로그인 해라</h1>
    <strong><a href="/users/login/">로그인</a></strong>
    <strong><a href="/users/signup">회원가입</a></strong>
{% endif %}

<strong><a href="/community/board">커뮤니티</a></strong>
{% endblock %}