{% extends 'base_topbar.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/secucheck.css' %}">
<script src="{% static 'secucheck.js' %}"> </script>
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="navbar2">
            <p style="font-weight: bolder; font-size:20px; color:red;">OWASP Top 10</p>
            <a href="#bac">Broken Access Control</a>
            <a href="#cf">Cryptographic Failures</a>
            <a href="#i">Injection</a>
            <a href="#id">Insure Design</a>
            <a href="#sm">Security Misconfiguration</a>
            <a href="#vaoc">Vulnerable and Outdated Components</a>
            <a href="#iaaf">Identification and Authentication Failures</a>
            <a href="#sadif">Software and Data Integrity Failures</a>
            <a href="#slamf">Security Logging and Monitoring Failures</a>
            <a href="#ssrf">Server-Side Request Forgery</a>
        </div>
        <div class="navbar-cover"></div>


        <div class='h1-container'>
            <div class="topic-wrapper" id="bac" data-topic-number="1">1. 접근 권한 취약점<br>(Broken Access Control)
                <div class="tree-wrapper">
                    {% include 'secucheck/01.html' %}
                </div>
            </div>
            <div class="topic-wrapper" id="cf" data-topic-number="2">2. 암호화 오류<br>(Cryptographic Failures)
                <div class="tree-wrapper">
                </div>
            </div>
            <div class="topic-wrapper" id="i" data-topic-number="3">3. 인젝션<br>(Injection)
                <div class="tree-wrapper">
                </div>
            </div>
            <div class="topic-wrapper" id="id" data-topic-number="4">4. 안전하지 않은 설계<br>(Insure Design)
                <div class="tree-wrapper">
                </div>
            </div>
            <div class="topic-wrapper" id="sm" data-topic-number="5" >5. 보안 설정 오류<br>(Security Misconfiguration)
                <div class="tree-wrapper">
                    {% include 'secucheck/05.html' %}
                </div>
            </div>
            <div class="topic-wrapper" id="vaoc" data-topic-number="6">6. 취약하고 오래된 소스<br>(Vulnerable and Outdated Components)
                <div class="tree-wrapper">
                </div>
            </div>
            <div class="topic-wrapper" id="iaaf" data-topic-number="7" >7. 식별 및 인증 오류<br>(Identification and Authentication Failures)
                <div class="tree-wrapper">
                </div>
            </div>
            <div class="topic-wrapper" id="sadif"data-topic-number="8" >8. 소프트웨어 및 데이터 무결성 오류<br>(Software and Data Integrity Failures)
                <div class="tree-wrapper">
                </div>
            </div>
            <div class="topic-wrapper" id="slamf"data-topic-number="9">9. 보안 로깅 및 모니터링 실패<br>(Security Logging and Monitoring Failures)
                <div class="tree-wrapper">
                </div>
            </div>
            <div class="topic-wrapper" id="ssrf"data-topic-number="10">10. 서버 측 요청 위조<br>(Server-Side Request Forgery)
                <div class="tree-wrapper">
                </div>
            </div>
        </div>
    </div>
{% endblock %}