{% extends 'base_topbar.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/secucheck.css' %}">
<script src="{% static 'secucheck.js' %}"></script> 
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="navbar2">
            <p style="font-weight: bolder; font-size:20px; color:red;">OWASP Top 10</p>
            <a href="#bac">Broken Access Control</a>
            <a href="#cf">Cryptographic Failures</a>
            <a href="#i">Injection</a>
            <a href="#id">Insure Design</a>
            <a href="#sm">Security Misconfiguration</a>
            <a href="#vaoc">Vulnerable and Outdated Components</a>
            <a href="#iaaf">Identification and Authentication Failures</a>
            <a href="#sadif">Software and Data Integrity Failures</a>
            <a href="#slamf">Security Logging and Monitoring Failures</a>
            <a href="#ssrf">Server-Side Request Forgery</a>
        </div>
        <div class="navbar-cover"></div>


        <div class='h1-container'>
            <div class="topic-wrapper" id="bac" data-topic-number="1">1. 접근 권한 취약점<br>(Broken Access Control)
                <div class="tree-wrapper">
                    {% include 'secucheck/01.html' %}
                </div>
            </div>
            <div class="topic-wrapper" id="cf" data-topic-number="2">2. 암호화 오류<br>(Cryptographic Failures)
                <div class="tree-wrapper">
                    <p>1. injectionVelit enim irure reprehenderit nisi incididunt in. Ut fugiat fugiat
                        fugiat nostrud sint ullamco aute consequat officia proident Lorem. Ad do occaecat fugiat
                        incididunt
                        sunt
                        exercitation ipsum id adipisicing et.
                        Non Lorem magna ea nulla consequat consectetur magna. Adipisicing non reprehenderit aute elit id
                        sit
                        reprehenderit aute eu tempor cupidatat. Est minim irure laboris amet reprehenderit ullamco. Do
                        est
                        magna
                        ex
                        tempor veniam officia culpa ut nisi eiusmod dolore enim.Magna ea ea ut incididunt. Cupidatat
                        aliqua
                        ullamco duis duis reprehenderit dolor elit tempor. Excepteur
                        nostrud mollit officia magna elit ullamco nostrud ullamco quis proident consequat culpa velit.
                        Eu
                        adipisicing culpa eu qui ex in irure qui officia quis pariatur.

                        Commodo duis est non fugiat. Magna duis sit nulla excepteur sunt mollit cillum duis ea irure
                        cillum.
                        Id
                        dolore cillum sint ad dolor ullamco et. Sunt incididunt do sint proident.Magna ea ea ut
                        incididunt.
                        Cupidatat aliqua ullamco duis duis reprehenderit dolor elit tempor. Excepteur
                        nostrud mollit officia magna elit ullamco nostrud ullamco quis proident consequat culpa velit.
                        Eu
                        adipisicing culpa eu qui ex in irure qui officia quis pariatur.

                        Commodo duis est non fugiat. Magna duis sit nulla excepteur sunt mollit cillum duis ea irure
                        cillum.
                        Id
                        dolore cillum sint ad dolor ullamco et. Sunt incididunt do sint proident.</p>
                    </p>
                </div>
            </div>
            <div class="topic-wrapper" id="i" data-topic-number="3">3. 인젝션<br>(Injection)
                <div class="tree-wrapper">
                </div>
            </div>
            <div class="topic-wrapper" id="id" data-topic-number="4">4. 안전하지 않은 설계<br>(Insure Design)
                <div class="tree-wrapper">
                </div>
            </div>
            <div class="topic-wrapper" id="sm"data-topic-number="5" >5. 보안 설정 오류<br>(Security Misconfiguration)
                <div class="tree-wrapper">
                                       <div class="title">
                        정의
                    </div>
                            <div class="innerarticle">
                                기본적으로 탑재 되어야 하는 보안 구성이 제대로 적용되어 있지 않은 경우. 
                                애플리케이션에서 사용되는 소프트웨어가 최신 상태가 아닐 경우에 발생할 수 있다.     
                                <div style="text-align: center;">
                                    <img class="art1" src="5-1.png">
                                </div>
                            </div>

                    <div class="title">
                        종류
                    </div>
                        <div class="innerarticle">
                            <ul>
                                <li>디렉터리 인덱싱</li>
                                <li>불필요한 지원</li>
                                <li>취약한 파일 존재</li>
                                <li>히든필드 조작</li>
                                <li>알려진 취약점이 있는 구성요소 사용</li>
                            </ul>
                        </div>

                    <div class="title">
                        공격기법
                    </div>
                        <div class="title2nd">
                            1. 디렉터리 인덱싱
                        </div>
                        <div class="innerarticle" class="line">
                            <div class="underarticle" class="line">
                                일반적으로 웹 서버에는 URL 입력 시 Default.html, index.html, index.html 등 기본적으로 호출할 파일을 지정해 놓게 되는데, 웹 루트 디렉토리에 해당 파일이 없을 경우, 디렉토리 내의 파일 리스트를 웹브라우저에 표시하게 된다.
                                디렉토리 인덱싱 취약점은 웹 서버 내 특정 디렉터리 파일 리스트를 노출하고 공격자는 이를 이용하여 응용 시스템의 구조를 파악하고, 주요 소스 파일 또는 설정 파일을 다운로드 하는 등 정보를 획득할 수 있다.
                            </div>
                            <div style="text-align: center;">
                                <img class="art1" src="5-2.png">
                            </div>   
                        </div>

                        <div class="title2nd">
                            2. 불필요한 Method 지원
                        </div>
                        <div class="innerarticle">
                            <div class="underarticle">
                                Method는 목적에 따라 GET, POST, HEAD, PUT, DELETE, OPTIONS 등으로 분류되며 사전에 정의된 행위를 수행하게 된다. 
                                이 중 PUT, DELETE Method의 경우 임의로 서버 내 파일의 생성 및 삭제가 가능하기 때문에 공격자에 의한 조작의 위험이 있다.
                            </div><br><br>
                            <div style="text-align: center;">
                                <img class="art1" src="5-3.png">
                            </div>
                            <br><br>
                            <div style="text-align: center;">
                                <img class="art1" src="5-4.png" style="width: 1000px;">
                            </div>
                        </div>

                        <div class="title2nd">
                            3. 취약한 파일 존재
                        </div>
                        <div class="innerarticle">
                            <div class="underarticle">
                                웹 루트 하위에 내부 문서나 백업파일, 로그파일, 압축파일과 같은 파일이 존재할 경우 파일명을 유추하여 파일명을 알아내고, 직접 요청하여 해킹에 필요한 서비스 정보를 획득할 수 있는 취약점.
                            </div><br><br>
                            <div style="text-align: center;">
                                <img class="art1" src="5-5.png">
                            </div>
                        </div>

                        <div class="title2nd">
                            4. 히든필드 조작
                        </div>
                        <div class="innerarticle">
                            <div class="underarticle">
                                <ul>
                                    <li>Hidden Field는 사용자에게는 보여 지지 않지만 서버와 클라이언트간에 데이터를 교환에 사용되는 일종의 이름/값 쌍을 가지는 데이터 필드다.</li><br>
                                    <li>Hidden Field의 인자를 조작하거나 숨겨진 기능을 찾아 애플리케이션의 비정상적인 동작을 유도한다.</li><br>
                                    <li>승인되지 않은 페이지에 접근 가능하거나 애플리케이션 오류를 발생시켜 정보 획득 및 추가 공격이 가능하다.</li><br> 
                                </ul>
                            </div>
                        </div>


                        <div class="title2nd">
                            5. 알려진 취약점이 있는 구성요소 사용
                        </div>
                        <div class="innerarticle">
                            <div class="underarticle">
                                <ul>
                                <li>웹 애플리케이션에서 취약점이 알려진 라이브러리, 프레임워크, 모듈 등을 사용하여 발생할 수 있는 취약점</li> 
                                </ul>
                            </div><br><br><br>
                            <div style="text-align: center;">
                                <img class="art1" src="5-6.png">
                            </div>
                        </div>

                    <div class="title">
                        점검내용
                    </div>
                        <div class="title2nd">
                            1. 디렉터리 인덱싱
                        </div>
                            <div class="innerarticle">
                                <div class="underarticle">
                                    <ul>
                                        <li>직접 점검 방법</li>
                                            <div style="padding-left : 15px;">
                                                - 가) 점검 대상 웹 사이트의 하위 디렉터리 정보를 사전에 모두 확인
                                                - 나) 웹 루트(Root)의 모든 하위 디렉터리에 대해서 웹 브라우저에 해당 주소를 입력하여 디렉토리 취약점 존재여부를 점검 
                                            </div>
                                        <li>구글을 통한 점검</li>
                                            <div style="padding-left : 15px;">
                                                - 도메인 설정 란에 해당 사이트 주소를 입력하여 디렉터리 목록이 저장된 페이지를 검색, 해당 사이트의 디렉터리가 노출되었는지 확인
                                            </div>
                                    </ul>
                                </div>
                            </div>

                            <div class="title2nd">
                                2. 불필요한 Method 지원
                            </div>
                                <div class="innerarticle">
                                    <div class="underarticle">
                                        <ul>
                                            <li>텔넷에 접속하여 불필요한 Method가 활성화 되어 있는지 확인</li>
                                        </ul>
                                    </div>
                                </div>

                            <div class="title2nd">
                                3. 취약한 파일 존재
                            </div>
                                <div class="innerarticle">
                                    <div class="underarticle">
                                        <ul>
                                            <li>웹서버의 가상 디렉터리로 이동하여 다음에 제시되는 확장자의 파일을 찾아 불필요한 정보가 포함 되었는지 여부를 판단</li>
                                            <li>PHP 언어로 개발한 웹서버의 경우 아래와 같은 정보를 출력하는 웹페이지 (phpinfo.php)가 존재하는지 점검</li>
                                        </ul>
                                    </div>
                                </div>

                            <div class="title2nd">
                                4. 히든필드 조작
                            </div>
                                <div class="innerarticle">
                                    <div class="underarticle">
                                        <ul>
                                            <li>테스트 계정, default 계정 등 취약한 계정 사용 여부 확인</li>
                                        </ul>
                                    </div>
                                </div>

                            <div class="title2nd">
                                5. 알려진 취약점이 있는 구성요소 사용
                            </div>
                                <div class="innerarticle">
                                    <div class="underarticle">
                                            <ul>
                                                <li>웹 애플리케이션 및 상용 소프트웨어의 버전 확인</li>
                                            </ul>
                                    </div>
                                </div>

                    <div class="title">
                        대응방법
                    </div>
                        <div class="title2nd">
                            1. 디렉터리 인덱싱
                        </div>
                            <div class="innerarticle">
                                <div class="underarticle">
                                    <ul>
                                        <li>Windows의 IIS 조치 : '인터넷 정보서비스(IIS)'를 이용하는 웹서버이며 작업을 통해 디렉터리 인덱싱 취약점 차단 가능</li>
                                        <li>Unix, Linux의 Apache 조치 : 유닉스 및 리눅스 운영체제로서 아파치(Apache)를 이용하는 웹서버이며 아래 작업을 통해 디렉터리 인덱싱 취약점을 차단 가능</li>
                                        <li>파일 위치를 모를 경우 : 유닉스 및 리눅스 운영체제로서 톰캣(Tomcat)을 이용하는 웹서버이며 아래 작업을 통해 디렉터리 인덱싱 취약점을 차단 가능</li>
                                    </ul>
                                </div>
                            </div>

                        <div class="title2nd">
                            2. 불필요한 Method 지원
                        </div>
                            <div class="innerarticle">
                                <div class="underarticle">
                                    <ul>
                                        <li>웹 서버 내에서의 조치</li>
                                            <div style="padding-left : 15px;">
                                                - 가) 홈페이지 운영에 불필요한 Method(PUT, DELETE, OPTIONS 등) 비활성화
                                                - 나) 웹 서버 홈 디렉터리 아래 conf 디렉터리의 web.xml파일에서 불필요한 Method 비활성화 (삭제 또는 주석)를 위한 보안설정 
                                            </div>
                                    </ul>
                                </div>
                            </div>

                            <div class="title2nd">
                                3. 취약한 파일 존재
                            </div>
                                <div class="innerarticle">
                                    <div class="underarticle">
                                        <ul>
                                            <li>가) 웹서버는 개발과 운영 환경을 분리하여 운영 환경에서 소스 코드 수정 또는 테스트 목적의 임시 파일을 생성하지 않도록 한다</li>
                                            <li>나) 웹 서버의 디렉터리에 존재하는 기본 설치 파일, 임시 및 백업 파일을 조사하여 웹 사용자가 접근하지 못하도록 조치</li>
                                            <li>다) 정기적으로 불필요 파일을 검색하여 제거한다</li>
                                        </ul>
                                        <br><br>
                                        <div style="text-align: center;">
                                            <img class="art1" src="5-7.png">
                                        </div>
                                    </div>
                                </div>

                                <div class="title2nd">
                                    4. 히든필드 조작
                                </div>
                                    <div class="innerarticle">
                                        <div class="underarticle">
                                            <ul>
                                                <li>홈페이지 개발 보안 조치</li>
                                                <div style="padding-left : 15px;">
                                                    - 가) 중요 정보(개인정보, 패스워드 등)는 클라이언트에서 확인 가능한 소스코드 내의 Hidden Field에서의 저장을 지양하고, 저장이 불가피할 경우 해당 내용은 암호화 처리<br>
                                                    - 나) 중요한 정보 및 숨겨진 기능 처리는 서버에서 이루어질 수 있도록 설계<br>
                                                    - 다) Hidden Field 데이터에 대한 입력 값 검증 로직을 구현하여 무결성 체크<br>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>

                                <div class="title2nd">
                                    5. 알려진 취약점이 있는 구성요소 사용
                                </div>
                                    <div class="innerarticle">
                                        <div class="underarticle">
                                            <ul>
                                                <li>웹 서버 내에서의 조치</li>
                                                <div style="padding-left : 15px;">
                                                    - 가) 웹 서버에는 공개용 웹 게시판 사용 지양<br>
                                                    - 나) 사용 시 보안 패치 또는 최신버전의 제품으로 설치하며, 정 기적으로 게시판 배포 사이트에 방문하여 보안 취약점 정보를 확인<br>
                                                    - 다) 서버 정보 노출 방지<br>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                </div>
            </div>
            <div class="topic-wrapper" id="vaoc" data-topic-number="6">6. 취약하고 오래된 소스<br>(Vulnerable and Outdated Components)
                <div class="tree-wrapper">
                </div>
            </div>
            <div class="topic-wrapper" id="iaaf" data-topic-number="7" >7. 식별 및 인증 오류<br>(Identification and Authentication Failures)
                <div class="tree-wrapper">
                </div>
            </div>
            <div class="topic-wrapper" id="sadif"data-topic-number="8" >8. 소프트웨어 및 데이터 무결성 오류<br>(Software and Data Integrity Failures)
                <div class="tree-wrapper">
                </div>
            </div>
            <div class="topic-wrapper" id="slamf"data-topic-number="9">9. 보안 로깅 및 모니터링 실패<br>(Security Logging and Monitoring Failures)
                <div class="tree-wrapper">
                </div>
            </div>
            <div class="topic-wrapper" id="ssrf"data-topic-number="10">10. 서버 측 요청 위조<br>(Server-Side Request Forgery)
                <div class="tree-wrapper">
                    <p>1. injectionVelit enim irure reprehenderit nisi incididunt in. Ut fugiat fugiat
                        fugiat nostrud sint ullamco aute consequat officia proident Lorem. Ad do occaecat fugiat
                        incididunt
                        sunt
                        exercitation ipsum id adipisicing et.
                        Non Lorem magna ea nulla consequat consectetur magna. Adipisicing non reprehenderit aute elit id
                        sit
                        reprehenderit aute eu tempor cupidatat. Est minim irure laboris amet reprehenderit ullamco. Do
                        est
                        magna
                        ex
                        tempor veniam officia culpa ut nisi eiusmod dolore enim.Magna ea ea ut incididunt. Cupidatat
                        aliqua
                        ullamco duis duis reprehenderit dolor elit tempor. Excepteur
                        nostrud mollit officia magna elit ullamco nostrud ullamco quis proident consequat culpa velit.
                        Eu
                        adipisicing culpa eu qui ex in irure qui officia quis pariatur.

                        Commodo duis est non fugiat. Magna duis sit nulla excepteur sunt mollit cillum duis ea irure
                        cillum.
                        Id
                        dolore cillum sint ad dolor ullamco et. Sunt incididunt do sint proident.Magna ea ea ut
                        incididunt.
                        Cupidatat aliqua ullamco duis duis reprehenderit dolor elit tempor. Excepteur
                        nostrud mollit officia magna elit ullamco nostrud ullamco quis proident consequat culpa velit.
                        Eu
                        adipisicing culpa eu qui ex in irure qui officia quis pariatur.

                        Commodo duis est non fugiat. Magna duis sit nulla excepteur sunt mollit cillum duis ea irure
                        cillum.
                        Id
                        dolore cillum sint ad dolor ullamco et. Sunt incididunt do sint proident.</p>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}