{% extends 'base_topbar.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/secucheck.css' %}">
<script src="{% static 'secucheck.js' %}"></script> 
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="navbar2">
            <p style="font-weight: bolder; font-size:20px; color:red;">OWASP Top 10</p>
            <a href="#bac">Broken Access Control</a>
            <a href="#cf">Cryptographic Failures</a>
            <a href="#i">Injection</a>
            <a href="#id">Insure Design</a>
            <a href="#sm">Security Misconfiguration</a>
            <a href="#vaoc">Vulnerable and Outdated Components</a>
            <a href="#iaaf">Identification and Authentication Failures</a>
            <a href="#sadif">Software and Data Integrity Failures</a>
            <a href="#slamf">Security Logging and Monitoring Failures</a>
            <a href="#ssrf">Server-Side Request Forgery</a>
        </div>
        <div class="navbar-cover"></div>


        <div class='h1-container'>
            <div class="topic-wrapper" id="bac">1. 접근 권한 취약점<br>(Broken Access Control)
                <div class="tree-wrapper">
                    <p>정의 
                        일반적으로 웹 서비스에서 접근 불가능한 정보는 존재하지 않는 것처럼 노출하지 않거나 별도의 인증을 거치도록 하면서 정보를 보호한다. 
                        취약한 접근 제어란 이러한 접근 제어 정책을 우회하거나 의도치 않은 권한 상승으로 인해 기밀 정보가 노출될 수 있는 취약점을 의미한다.
                        공격자는 이러한 취약점을 악용하여 사용자의 계정 액세스, 중요한 파일 보기, 사용자의 데이터 수정, 액세스 권한 변경 등과 같은 권한 없는 기능 또는 데이터에 액세스 할 수 있다. 
                        사용자로 하여금 허가되지 않은 정보에 접근할 수 없도록 서비스의 정책을 강제하는 것을 의미한다. 1. injectionVelit enim irure reprehenderit nisi incididunt in. Ut fugiat fugiat
                        fugiat nostrud sint ullamco aute consequat officia proident Lorem. Ad do occaecat fugiat
                        incididunt
                        sunt
                        exercitation ipsum id adipisicing et.
                        Non Lorem magna ea nulla consequat consectetur magna. Adipisicing non reprehenderit aute elit id
                        sit
                        reprehenderit aute eu tempor cupidatat. Est minim irure laboris amet reprehenderit ullamco. Do
                        est
                        magna
                        ex
                        tempor veniam officia culpa ut nisi eiusmod dolore enim.Magna ea ea ut incididunt. Cupidatat
                        aliqua
                        ullamco duis duis reprehenderit dolor elit tempor. Excepteur
                        nostrud mollit officia magna elit ullamco nostrud ullamco quis proident consequat culpa velit.
                        Eu
                        adipisicing culpa eu qui ex in irure qui officia quis pariatur.

                        Commodo duis est non fugiat. Magna duis sit nulla excepteur sunt mollit cillum duis ea irure
                        cillum.
                        Id
                        dolore cillum sint ad dolor ullamco et. Sunt incididunt do sint proident.Magna ea ea ut
                        incididunt.
                        Cupidatat aliqua ullamco duis duis reprehenderit dolor elit tempor. Excepteur
                        nostrud mollit officia magna elit ullamco nostrud ullamco quis proident consequat culpa velit.
                        Eu
                        adipisicing culpa eu qui ex in irure qui officia quis pariatur.

                        Commodo duis est non fugiat. Magna duis sit nulla excepteur sunt mollit cillum duis ea irure
                        cillum.
                        Id
                        dolore cillum sint ad dolor ullamco et. Sunt incididunt do sint proident.</p>
                    </p>
                </div>
            </div>

            <div class="topic-wrapper" id="cf">2. 암호화 오류<br>(Cryptographic Failures)
                <div class="tree-wrapper">
                    <p>1. injectionVelit enim irure reprehenderit nisi incididunt in. Ut fugiat fugiat
                        fugiat nostrud sint ullamco aute consequat officia proident Lorem. Ad do occaecat fugiat
                        incididunt
                        sunt
                        exercitation ipsum id adipisicing et.
                        Non Lorem magna ea nulla consequat consectetur magna. Adipisicing non reprehenderit aute elit id
                        sit
                        reprehenderit aute eu tempor cupidatat. Est minim irure laboris amet reprehenderit ullamco. Do
                        est
                        magna
                        ex
                        tempor veniam officia culpa ut nisi eiusmod dolore enim.Magna ea ea ut incididunt. Cupidatat
                        aliqua
                        ullamco duis duis reprehenderit dolor elit tempor. Excepteur
                        nostrud mollit officia magna elit ullamco nostrud ullamco quis proident consequat culpa velit.
                        Eu
                        adipisicing culpa eu qui ex in irure qui officia quis pariatur.

                        Commodo duis est non fugiat. Magna duis sit nulla excepteur sunt mollit cillum duis ea irure
                        cillum.
                        Id
                        dolore cillum sint ad dolor ullamco et. Sunt incididunt do sint proident.Magna ea ea ut
                        incididunt.
                        Cupidatat aliqua ullamco duis duis reprehenderit dolor elit tempor. Excepteur
                        nostrud mollit officia magna elit ullamco nostrud ullamco quis proident consequat culpa velit.
                        Eu
                        adipisicing culpa eu qui ex in irure qui officia quis pariatur.

                        Commodo duis est non fugiat. Magna duis sit nulla excepteur sunt mollit cillum duis ea irure
                        cillum.
                        Id
                        dolore cillum sint ad dolor ullamco et. Sunt incididunt do sint proident.</p>
                    </p>
                </div>
            </div>
            <div class="topic-wrapper" id="i">3. 인젝션<br>(Injection)
                <div class="tree-wrapper">
                </div>
            </div>
            <div class="topic-wrapper" id="id">4. 안전하지 않은 설계<br>(Insure Design)
                <div class="tree-wrapper">
                </div>
            </div>
            <div class="topic-wrapper" id="sm">5. 보안 설정 오류<br>(Security Misconfiguration)
                <div class="tree-wrapper">
                </div>
            </div>
            <div class="topic-wrapper" id="vaoc">6. 취약하고 오래된 소스<br>(Vulnerable and Outdated Components)
                <div class="tree-wrapper">
                </div>
            </div>
            <div class="topic-wrapper" id="iaaf">7. 식별 및 인증 오류<br>(Identification and Authentication Failures)
                <div class="tree-wrapper">
                </div>
            </div>
            <div class="topic-wrapper" id="sadif">8. 소프트웨어 및 데이터 무결성 오류<br>(Software and Data Integrity Failures)
                <div class="tree-wrapper">
                </div>
            </div>
            <div class="topic-wrapper" id="slamf">9. 보안 로깅 및 모니터링 실패<br>(Security Logging and Monitoring Failures)
                <div class="tree-wrapper">
                </div>
            </div>
            <div class="topic-wrapper" id="ssrf">10. 서버 측 요청 위조<br>(Server-Side Request Forgery)
                <div class="tree-wrapper">
                    <p>1. injectionVelit enim irure reprehenderit nisi incididunt in. Ut fugiat fugiat
                        fugiat nostrud sint ullamco aute consequat officia proident Lorem. Ad do occaecat fugiat
                        incididunt
                        sunt
                        exercitation ipsum id adipisicing et.
                        Non Lorem magna ea nulla consequat consectetur magna. Adipisicing non reprehenderit aute elit id
                        sit
                        reprehenderit aute eu tempor cupidatat. Est minim irure laboris amet reprehenderit ullamco. Do
                        est
                        magna
                        ex
                        tempor veniam officia culpa ut nisi eiusmod dolore enim.Magna ea ea ut incididunt. Cupidatat
                        aliqua
                        ullamco duis duis reprehenderit dolor elit tempor. Excepteur
                        nostrud mollit officia magna elit ullamco nostrud ullamco quis proident consequat culpa velit.
                        Eu
                        adipisicing culpa eu qui ex in irure qui officia quis pariatur.

                        Commodo duis est non fugiat. Magna duis sit nulla excepteur sunt mollit cillum duis ea irure
                        cillum.
                        Id
                        dolore cillum sint ad dolor ullamco et. Sunt incididunt do sint proident.Magna ea ea ut
                        incididunt.
                        Cupidatat aliqua ullamco duis duis reprehenderit dolor elit tempor. Excepteur
                        nostrud mollit officia magna elit ullamco nostrud ullamco quis proident consequat culpa velit.
                        Eu
                        adipisicing culpa eu qui ex in irure qui officia quis pariatur.

                        Commodo duis est non fugiat. Magna duis sit nulla excepteur sunt mollit cillum duis ea irure
                        cillum.
                        Id
                        dolore cillum sint ad dolor ullamco et. Sunt incididunt do sint proident.</p>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}